@import 'styles/variables.scss';

.nav {
  height: 80px;
  background-color: $darkBlueColor;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.15s linear;

  @media (max-width: 678px) {
    width: 100vw;
  }

  span {
    font-size: 30px;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
      :nth-child(2) {
        font-size: 16px !important;
        margin-top: 0px !important;
      }
    }
  }

  .logo {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      max-height: 50px;
      transition: all 0.2s linear;
    }
  }
}

.navHeight {
  height: 100%;
}

.navbarScrolled {
  // background-color: $grayColor;
  border-bottom: 2px solid $pinkColor;
  height: 60px;
  transition: all 0.2s linear;

  .logo {
    img {
      max-height: 40px;
      transition: all 0.2s linear;
    }
  }
}

.navContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
