.ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;

  a {
    text-decoration: none;
    text-transform: none;
    color: #000;
    cursor: pointer;

    &:hover {
      color: #0dadea;
    }
  }

  li {
    padding: 18px 10px;
  }

  @media (max-width: 768px) {
    flex-flow: column nowrap;
    background-color: #fdfdfdfa;
    position: fixed;
    top: 80px;
    right: 0;
    height: 100%;
    width: 100%;
    // padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    z-index: 9;
    justify-content: normal;

    li {
      color: #000;
      margin-right: 34px;

      &:hover {
        color: #0dadea;
      }
    }
  }
}

.open {
  @media (max-width: 768px) {
    transform: translateX(0);
  }
}

.close {
  @media (max-width: 768px) {
    transform: translateX(100%);
  }
}
