@import 'styles/variables.scss';

.hidden {
  display: none;
}

.steps {
  margin: 60px 0 40px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;

  @include media('<=bigger-tablet-landscape') {
    width: 80%;
    margin: 60px auto 40px auto;
  }
}

.stepsLine {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  height: 4px;
  width: 66%;
  background-color: $pinkColor;
  transition: width 0.7s;
}

.step {
  background-color: $darkBlueColor;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $whiteTextColor;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    background-color: $pinkColor;
    color: $darkBlueColor;
    cursor: pointer;

    transition: all 0.3s linear;
  }
}

.activeStep {
  background-color: $pinkColor;
  color: $darkBlueColor;

  &:hover {
    cursor: default;
  }
}

.content {
  p {
    line-height: 1.5;
  }

  .title {
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
    width: 100%;
    text-align: center;
  }

  a {
    text-decoration: underline;
    font-weight: 700;
    margin-left: 10px;
    letter-spacing: 0.5px;

    &:hover {
      color: $pinkColor;
      transition: color 0.3s linear;
    }
  }

  ul {
    margin: 0;
    li {
      p {
        margin: 0;
      }
    }
  }
}
