@import 'styles/variables.scss';

.hidden {
  display: none;
}

.steps {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.stepsLine {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  height: 4px;
  width: 66%;
  background-color: $pinkColor;
  transition: width 0.7s;
}

.step {
  background-color: $darkBlueColor;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $whiteTextColor;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    background-color: $pinkColor;
    color: $darkBlueColor;
    cursor: pointer;

    transition: all 0.3s linear;
  }
}

.activeStep {
  background-color: $pinkColor;
  color: $darkBlueColor;

  &:hover {
    cursor: default;
  }
}
