@import 'styles/variables.scss';

.landing {
  height: fit-content;
  padding: 100px 0px 140px 0px;
  background-color: $darkBlueColor;
  background-image: url($landingBg);

  .landingContainer {
    height: 100%;
  }

  .welcomeText {
    position: relative;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    mark {
      color: $whiteTextColor;
      padding: 0 2px;
      background-color: none;
      background: linear-gradient(
        90deg,
        $pinkColor 50%,
        rgba(255, 255, 255, 0) 50%
      );
      background-size: 200% 90%;
      background-position: 100% 0;
    }

    .animSpan1 {
      -webkit-animation: 0.75s highlightMark 1s 1 normal forwards;
      animation: 0.75s highlightMark 1s 1 normal forwards;
    }

    .animSpan2 {
      -webkit-animation: 1s highlightMark 1.3s 1 normal forwards;
      animation: 1s highlightMark 1.3s 1 normal forwards;
    }

    .animSpan3 {
      -webkit-animation: 1s highlightMark 2s 1 normal forwards;
      animation: 1s highlightMark 2s 1 normal forwards;
    }

    h1 {
      margin: 0;
      margin-top: 10px;
      letter-spacing: 1.5px;
      font-weight: 400;
      font-size: 40px;
      line-height: 1.5;
      z-index: 1;
    }

    h2 {
      margin: 0;
      margin-top: 30px;
      font-size: 30px;
      letter-spacing: 1.5px;
      font-weight: 600;
      line-height: 1.5;
      width: 60%;
      z-index: 1;
    }

    img {
      position: absolute;
      top: 30px;
      right: 20px;
      width: 50%;
      opacity: 0;
      border-radius: 30px;
      -webkit-animation: 1s appearPhoto 0.5s 1 normal forwards;
      animation: 1s appearPhoto 0.5s 1 normal forwards;
      box-shadow: rgba(151, 65, 252, 0.3) -5px 10px 20px 0px;
    }
  }

  .buttons {
    display: flex;
    gap: 100px;
  }
}
