@import 'styles/variables.scss';

@-webkit-keyframes highlightMark {
  to {
    background-position: 0 0;
  }
}

@keyframes highlightMark {
  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes appearPhoto {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes appearPhoto {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.animMark {
  -webkit-animation: 0.75s highlightMark 1s 1 normal forwards;
  animation: 0.75s highlightMark 1s 1 normal forwards;
}

.landing {
  height: fit-content;
  padding: 100px 0px 140px 0px;
  background-color: $darkBlueColor;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1640' height='700' preserveAspectRatio='none' viewBox='0 0 1640 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1129%26quot%3b)' fill='none'%3e%3cpath d='M -348.5199325095719%2c123 C -282.92%2c214 -151.72%2c559 -20.519932509571902%2c578 C 110.68%2c597 176.28%2c249.4 307.4800674904281%2c218 C 438.68%2c186.6 504.28%2c417.4 635.4800674904282%2c421 C 766.68%2c424.6 832.28%2c236 963.4800674904282%2c236 C 1094.68%2c236 1160.28%2c406.4 1291.4800674904282%2c421 C 1422.68%2c435.6 1549.78%2c306.6 1619.4800674904282%2c309 C 1689.18%2c311.4 1635.9%2c408.2 1640%2c433' stroke='rgba(102%2c 45%2c 145%2c 0.35)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2.739969200720168%2c422 C 62.86%2c366.2 194.06%2c121 325.26003079927983%2c143 C 456.46%2c165 522.06%2c498 653.2600307992798%2c532 C 784.46%2c566 850.06%2c316.2 981.2600307992798%2c313 C 1112.46%2c309.8 1178.06%2c541.4 1309.2600307992798%2c516 C 1440.46%2c490.6 1506.06%2c174.4 1637.2600307992798%2c186 C 1768.46%2c197.6 1964.71%2c561.2 1965.2600307992798%2c574 C 1965.81%2c586.8 1705.05%2c314.8 1640%2c250' stroke='rgba(102%2c 45%2c 145%2c 0.35)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -535.0810088946372%2c143 C -469.48%2c194 -338.28%2c374.4 -207.0810088946372%2c398 C -75.88%2c421.6 -10.28%2c244 120.9189911053628%2c261 C 252.12%2c278 317.72%2c491.8 448.9189911053628%2c483 C 580.12%2c474.2 645.72%2c195.8 776.9189911053628%2c217 C 908.12%2c238.2 973.72%2c605 1104.9189911053627%2c589 C 1236.12%2c573 1325.9%2c152.6 1432.9189911053627%2c137 C 1539.94%2c121.4 1598.58%2c436.2 1640%2c511' stroke='rgba(102%2c 45%2c 145%2c 0.35)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -587.7869431738302%2c448 C -522.19%2c381.8 -390.99%2c108.2 -259.7869431738302%2c117 C -128.59%2c125.8 -62.99%2c485 68.2130568261698%2c492 C 199.41%2c499 265.01%2c128.2 396.2130568261698%2c152 C 527.41%2c175.8 593.01%2c576 724.2130568261698%2c611 C 855.41%2c646 921.01%2c369.6 1052.2130568261698%2c327 C 1183.41%2c284.4 1262.66%2c394.2 1380.2130568261698%2c398 C 1497.77%2c401.8 1588.04%2c356.4 1640%2c346' stroke='rgba(102%2c 45%2c 145%2c 0.35)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -646.15464146179%2c333 C -580.55%2c375.2 -449.35%2c556.4 -318.15464146179%2c544 C -186.95%2c531.6 -121.35%2c262.6 9.845358538210007%2c271 C 141.05%2c279.4 206.65%2c588.8 337.84535853821%2c586 C 469.05%2c583.2 534.65%2c269.8 665.84535853821%2c257 C 797.05%2c244.2 862.65%2c541.8 993.84535853821%2c522 C 1125.05%2c502.2 1192.61%2c144.6 1321.84535853821%2c158 C 1451.08%2c171.4 1576.37%2c502.8 1640%2c589' stroke='rgba(102%2c 45%2c 145%2c 0.35)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -551.6358284418365%2c601 C -486.04%2c496 -354.84%2c90.2 -223.63582844183645%2c76 C -92.44%2c61.8 -26.84%2c494.6 104.36417155816355%2c530 C 235.56%2c565.4 301.16%2c234 432.36417155816355%2c253 C 563.56%2c272 629.16%2c624.2 760.3641715581635%2c625 C 891.56%2c625.8 957.16%2c306.8 1088.3641715581634%2c257 C 1219.56%2c207.2 1306.04%2c387.8 1416.3641715581634%2c376 C 1526.69%2c364.2 1595.27%2c233.6 1640%2c198' stroke='rgba(102%2c 45%2c 145%2c 0.35)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1129'%3e%3crect width='1640' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  .landingContainer {
    height: 100%;
  }

  .welcomeText {
    position: relative;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    mark {
      color: $whiteTextColor;
      padding: 0 2px;
      background-color: none;
      background: linear-gradient(
        90deg,
        $pinkColor 50%,
        rgba(255, 255, 255, 0) 50%
      );
      background-size: 200% 90%;
      background-position: 100% 0;
    }

    .animSpan1 {
      -webkit-animation: 0.75s highlightMark 1s 1 normal forwards;
      animation: 0.75s highlightMark 1s 1 normal forwards;
    }

    .animSpan2 {
      -webkit-animation: 1s highlightMark 1.3s 1 normal forwards;
      animation: 1s highlightMark 1.3s 1 normal forwards;
    }

    .animSpan3 {
      -webkit-animation: 1s highlightMark 2s 1 normal forwards;
      animation: 1s highlightMark 2s 1 normal forwards;
    }

    h1 {
      margin: 0;
      margin-top: 10px;
      letter-spacing: 1.5px;
      font-weight: 400;
      font-size: 40px;
      line-height: 1.5;
      z-index: 1;
    }

    h2 {
      margin: 0;
      margin-top: 30px;
      font-size: 30px;
      letter-spacing: 1.5px;
      font-weight: 600;
      line-height: 1.5;
      width: 60%;
      z-index: 1;
    }

    button {
      position: relative;
      overflow: hidden;
      margin-top: 40px;
      background-image: linear-gradient(
        144deg,
        $pinkColor,
        $purpleColor 50%,
        $purpleColor
      );
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.3) -5px 10px 20px 0px;
      display: flex;
      justify-content: center;
      max-width: 100%;
      width: fit-content;
      padding: 3px;
      cursor: pointer;
    }

    button span {
      letter-spacing: 1px;
      background-color: $darkBlueColor;
      padding: 16px 24px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 300ms;
    }

    button:hover span {
      background: none;
    }

    button:before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        rgba(146, 148, 248, 0.4),
        transparent
      );
      transition: all 650ms;
    }

    button:hover:before {
      left: 100%;
    }

    @media (min-width: 768px) {
      button {
        min-width: 196px;
      }
    }

    img {
      position: absolute;
      top: 30px;
      right: 20px;
      width: 50%;
      opacity: 0;
      border-radius: 30px;
      -webkit-animation: 1s appearPhoto 0.5s 1 normal forwards;
      animation: 1s appearPhoto 0.5s 1 normal forwards;
      box-shadow: rgba(151, 65, 252, 0.3) -5px 10px 20px 0px;
    }
  }
}

.promo {
  height: fit-content;
  padding-bottom: 100px;
  background-color: $purpleColor;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1266%26quot%3b)' fill='none'%3e%3cpath d='M10.1 152.07L72.46 188.07L72.46 260.07L10.1 296.07L-52.26 260.07L-52.26 188.07zM10.1 368.07L72.46 404.07L72.46 476.07L10.1 512.07L-52.26 476.07L-52.26 404.07zM72.46 476.07L134.81 512.07L134.81 584.07L72.46 620.07L10.1 584.07L10.1 512.07zM72.46 692.07L134.81 728.07L134.81 800.07L72.46 836.07L10.1 800.07L10.1 728.07zM197.17 260.07L259.52 296.07L259.52 368.07L197.17 404.07L134.81 368.07L134.81 296.07zM134.81 584.07L197.17 620.07L197.17 692.07L134.81 728.07L72.46 692.07L72.46 620.07zM259.52 584.07L321.88 620.07L321.88 692.07L259.52 728.07L197.17 692.07L197.17 620.07zM321.88 692.07L384.23 728.07L384.23 800.07L321.88 836.07L259.52 800.07L259.52 728.07zM446.59 44.07L508.94 80.07L508.94 152.07L446.59 188.07L384.23 152.07L384.23 80.07zM446.59 260.07L508.94 296.07L508.94 368.07L446.59 404.07L384.23 368.07L384.23 296.07zM384.23 584.07L446.59 620.07L446.59 692.07L384.23 728.07L321.88 692.07L321.88 620.07zM446.59 692.07L508.94 728.07L508.94 800.07L446.59 836.07L384.23 800.07L384.23 728.07zM571.3 44.07L633.66 80.07L633.66 152.07L571.3 188.07L508.94 152.07L508.94 80.07zM508.94 152.07L571.3 188.07L571.3 260.07L508.94 296.07L446.59 260.07L446.59 188.07zM571.3 476.07L633.66 512.07L633.66 584.07L571.3 620.07L508.94 584.07L508.94 512.07zM571.3 692.07L633.66 728.07L633.66 800.07L571.3 836.07L508.94 800.07L508.94 728.07zM633.66 152.07L696.01 188.07L696.01 260.07L633.66 296.07L571.3 260.07L571.3 188.07zM696.01 260.07L758.37 296.07L758.37 368.07L696.01 404.07L633.66 368.07L633.66 296.07zM696.01 476.07L758.37 512.07L758.37 584.07L696.01 620.07L633.66 584.07L633.66 512.07zM820.72 476.07L883.08 512.07L883.08 584.07L820.72 620.07L758.37 584.07L758.37 512.07zM820.72 692.07L883.08 728.07L883.08 800.07L820.72 836.07L758.37 800.07L758.37 728.07zM883.08 -63.93L945.43 -27.93L945.43 44.07L883.08 80.07L820.72 44.07L820.72 -27.93zM945.43 476.07L1007.79 512.07L1007.79 584.07L945.43 620.07L883.08 584.07L883.08 512.07zM1194.86 260.07L1257.21 296.07L1257.21 368.07L1194.86 404.07L1132.5 368.07L1132.5 296.07zM1132.5 584.07L1194.86 620.07L1194.86 692.07L1132.5 728.07L1070.15 692.07L1070.15 620.07zM1194.86 692.07L1257.21 728.07L1257.21 800.07L1194.86 836.07L1132.5 800.07L1132.5 728.07zM1319.57 44.07L1381.92 80.07L1381.92 152.07L1319.57 188.07L1257.21 152.07L1257.21 80.07zM1319.57 260.07L1381.92 296.07L1381.92 368.07L1319.57 404.07L1257.21 368.07L1257.21 296.07zM1444.28 260.07L1506.63 296.07L1506.63 368.07L1444.28 404.07L1381.92 368.07L1381.92 296.07zM1381.92 584.07L1444.28 620.07L1444.28 692.07L1381.92 728.07L1319.57 692.07L1319.57 620.07z' stroke='rgba(26%2c 0%2c 69%2c 0.13)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2.9 152.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM65.26 188.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM65.26 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM2.9 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM-59.46 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM-59.46 188.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM2.9 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM65.26 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM65.26 476.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM2.9 512.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM-59.46 476.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM-59.46 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM127.61 512.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM127.61 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM65.26 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM2.9 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM65.26 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM127.61 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM127.61 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM65.26 836.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM2.9 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM2.9 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM189.97 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM252.32 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM252.32 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM189.97 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM127.61 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM127.61 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM189.97 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM189.97 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM252.32 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM314.68 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM314.68 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM252.32 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM377.03 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM377.03 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM314.68 836.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM252.32 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM439.39 44.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 80.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 152.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM439.39 188.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM377.03 152.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM377.03 80.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM439.39 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM439.39 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM377.03 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM377.03 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM377.03 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM439.39 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM439.39 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM439.39 836.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM564.1 44.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 80.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 152.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM564.1 188.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM564.1 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM564.1 476.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 512.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM564.1 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM501.74 512.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM564.1 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM564.1 836.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM688.81 188.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM688.81 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM751.17 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM751.17 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM688.81 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM626.46 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM688.81 476.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM751.17 512.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM751.17 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM688.81 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM813.52 476.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM875.88 512.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM875.88 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM813.52 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM813.52 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM875.88 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM875.88 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM813.52 836.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM751.17 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM751.17 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM875.88 -63.93 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM938.23 -27.93 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM938.23 44.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM875.88 80.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM813.52 44.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM813.52 -27.93 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM938.23 476.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1000.59 512.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1000.59 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM938.23 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1187.66 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1250.01 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1250.01 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1187.66 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1125.3 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1125.3 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1125.3 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1187.66 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1187.66 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1125.3 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1062.95 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1062.95 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1250.01 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1250.01 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1187.66 836.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1125.3 800.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1312.37 44.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1374.72 80.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1374.72 152.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1312.37 188.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1250.01 152.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1250.01 80.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1312.37 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1374.72 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1374.72 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1312.37 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1437.08 260.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1499.43 296.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1499.43 368.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1437.08 404.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1374.72 584.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1437.08 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1437.08 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1374.72 728.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1312.37 692.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0zM1312.37 620.07 a7.2 7.2 0 1 0 14.4 0 a7.2 7.2 0 1 0 -14.4 0z' fill='rgba(26%2c 0%2c 69%2c 0.13)'%3e%3c/path%3e%3cpath d='M21.7 -0.91L60.67 21.59L60.67 66.59L21.7 89.09L-17.27 66.59L-17.27 21.59zM21.7 134.09L60.67 156.59L60.67 201.59L21.7 224.09L-17.27 201.59L-17.27 156.59zM60.67 201.59L99.64 224.09L99.64 269.09L60.67 291.59L21.7 269.09L21.7 224.09zM21.7 674.09L60.67 696.59L60.67 741.59L21.7 764.09L-17.27 741.59L-17.27 696.59zM99.64 -0.91L138.62 21.59L138.62 66.59L99.64 89.09L60.67 66.59L60.67 21.59zM99.64 134.09L138.62 156.59L138.62 201.59L99.64 224.09L60.67 201.59L60.67 156.59zM99.64 404.09L138.62 426.59L138.62 471.59L99.64 494.09L60.67 471.59L60.67 426.59zM177.59 269.09L216.56 291.59L216.56 336.59L177.59 359.09L138.62 336.59L138.62 291.59zM177.59 674.09L216.56 696.59L216.56 741.59L177.59 764.09L138.62 741.59L138.62 696.59zM294.51 201.59L333.48 224.09L333.48 269.09L294.51 291.59L255.53 269.09L255.53 224.09zM333.48 269.09L372.45 291.59L372.45 336.59L333.48 359.09L294.51 336.59L294.51 291.59zM333.48 539.09L372.45 561.59L372.45 606.59L333.48 629.09L294.51 606.59L294.51 561.59zM333.48 809.09L372.45 831.59L372.45 876.59L333.48 899.09L294.51 876.59L294.51 831.59zM411.42 -0.91L450.39 21.59L450.39 66.59L411.42 89.09L372.45 66.59L372.45 21.59zM450.39 336.59L489.37 359.09L489.37 404.09L450.39 426.59L411.42 404.09L411.42 359.09zM411.42 404.09L450.39 426.59L450.39 471.59L411.42 494.09L372.45 471.59L372.45 426.59zM411.42 539.09L450.39 561.59L450.39 606.59L411.42 629.09L372.45 606.59L372.45 561.59zM450.39 741.59L489.37 764.09L489.37 809.09L450.39 831.59L411.42 809.09L411.42 764.09zM411.42 809.09L450.39 831.59L450.39 876.59L411.42 899.09L372.45 876.59L372.45 831.59zM528.34 336.59L567.31 359.09L567.31 404.09L528.34 426.59L489.37 404.09L489.37 359.09zM489.37 674.09L528.34 696.59L528.34 741.59L489.37 764.09L450.39 741.59L450.39 696.59zM567.31 -0.91L606.28 21.59L606.28 66.59L567.31 89.09L528.34 66.59L528.34 21.59zM606.28 66.59L645.26 89.09L645.26 134.09L606.28 156.59L567.31 134.09L567.31 89.09zM567.31 134.09L606.28 156.59L606.28 201.59L567.31 224.09L528.34 201.59L528.34 156.59zM606.28 741.59L645.26 764.09L645.26 809.09L606.28 831.59L567.31 809.09L567.31 764.09zM645.26 -0.91L684.23 21.59L684.23 66.59L645.26 89.09L606.28 66.59L606.28 21.59zM684.23 201.59L723.2 224.09L723.2 269.09L684.23 291.59L645.26 269.09L645.26 224.09zM645.26 539.09L684.23 561.59L684.23 606.59L645.26 629.09L606.28 606.59L606.28 561.59zM723.2 -0.91L762.17 21.59L762.17 66.59L723.2 89.09L684.23 66.59L684.23 21.59zM723.2 809.09L762.17 831.59L762.17 876.59L723.2 899.09L684.23 876.59L684.23 831.59zM840.12 336.59L879.09 359.09L879.09 404.09L840.12 426.59L801.15 404.09L801.15 359.09zM801.15 404.09L840.12 426.59L840.12 471.59L801.15 494.09L762.17 471.59L762.17 426.59zM840.12 471.59L879.09 494.09L879.09 539.09L840.12 561.59L801.15 539.09L801.15 494.09zM801.15 539.09L840.12 561.59L840.12 606.59L801.15 629.09L762.17 606.59L762.17 561.59zM879.09 269.09L918.06 291.59L918.06 336.59L879.09 359.09L840.12 336.59L840.12 291.59zM918.06 471.59L957.03 494.09L957.03 539.09L918.06 561.59L879.09 539.09L879.09 494.09zM879.09 674.09L918.06 696.59L918.06 741.59L879.09 764.09L840.12 741.59L840.12 696.59zM996.01 66.59L1034.98 89.09L1034.98 134.09L996.01 156.59L957.03 134.09L957.03 89.09zM957.03 674.09L996.01 696.59L996.01 741.59L957.03 764.09L918.06 741.59L918.06 696.59zM996.01 741.59L1034.98 764.09L1034.98 809.09L996.01 831.59L957.03 809.09L957.03 764.09zM1073.95 66.59L1112.92 89.09L1112.92 134.09L1073.95 156.59L1034.98 134.09L1034.98 89.09zM1034.98 134.09L1073.95 156.59L1073.95 201.59L1034.98 224.09L996.01 201.59L996.01 156.59zM1073.95 201.59L1112.92 224.09L1112.92 269.09L1073.95 291.59L1034.98 269.09L1034.98 224.09zM1112.92 -0.91L1151.9 21.59L1151.9 66.59L1112.92 89.09L1073.95 66.59L1073.95 21.59zM1112.92 404.09L1151.9 426.59L1151.9 471.59L1112.92 494.09L1073.95 471.59L1073.95 426.59zM1112.92 539.09L1151.9 561.59L1151.9 606.59L1112.92 629.09L1073.95 606.59L1073.95 561.59zM1112.92 809.09L1151.9 831.59L1151.9 876.59L1112.92 899.09L1073.95 876.59L1073.95 831.59zM1229.84 201.59L1268.81 224.09L1268.81 269.09L1229.84 291.59L1190.87 269.09L1190.87 224.09zM1190.87 269.09L1229.84 291.59L1229.84 336.59L1190.87 359.09L1151.9 336.59L1151.9 291.59zM1229.84 336.59L1268.81 359.09L1268.81 404.09L1229.84 426.59L1190.87 404.09L1190.87 359.09zM1229.84 606.59L1268.81 629.09L1268.81 674.09L1229.84 696.59L1190.87 674.09L1190.87 629.09zM1229.84 741.59L1268.81 764.09L1268.81 809.09L1229.84 831.59L1190.87 809.09L1190.87 764.09zM1268.81 269.09L1307.78 291.59L1307.78 336.59L1268.81 359.09L1229.84 336.59L1229.84 291.59zM1268.81 539.09L1307.78 561.59L1307.78 606.59L1268.81 629.09L1229.84 606.59L1229.84 561.59zM1385.73 66.59L1424.7 89.09L1424.7 134.09L1385.73 156.59L1346.76 134.09L1346.76 89.09zM1385.73 471.59L1424.7 494.09L1424.7 539.09L1385.73 561.59L1346.76 539.09L1346.76 494.09zM1385.73 606.59L1424.7 629.09L1424.7 674.09L1385.73 696.59L1346.76 674.09L1346.76 629.09zM1463.67 201.59L1502.65 224.09L1502.65 269.09L1463.67 291.59L1424.7 269.09L1424.7 224.09zM1463.67 336.59L1502.65 359.09L1502.65 404.09L1463.67 426.59L1424.7 404.09L1424.7 359.09zM1424.7 674.09L1463.67 696.59L1463.67 741.59L1424.7 764.09L1385.73 741.59L1385.73 696.59z' stroke='rgba(237%2c 30%2c 121%2c 0.11)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1266'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  .aboutUs {
    display: flex;
    justify-content: space-between;

    .aboutUsDesc {
      height: 100%;
      width: 50%;

      h2 {
        width: fit-content;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
        background-color: none;
        background: linear-gradient(
          90deg,
          $pinkColor 50%,
          rgba(255, 255, 255, 0) 50%
        );
        background-size: 200% 90%;
        background-position: 100% 0;
      }

      p {
        line-height: 1.5;
        letter-spacing: 1px;
        margin-bottom: 30px;
      }

      /* center the blockquote in the page */
      .blockquoteWrapper {
        display: flex;
        // height: 100vh;
        // padding: 0 20px;
      }

      /* Blockquote main style */
      .blockquote {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: $whiteTextColor;
        padding: 30px 0;
        width: 100%;
        max-width: 500px;
        margin: 30px auto;
        align-self: center;
        border-top: solid 1px;
        border-bottom: solid 1px;
      }

      /* Blockquote header */
      .blockquote h3 {
        position: relative;
        color: $whiteTextColor;
        font-style: italic;
        font-weight: 800;
        margin: 0;
      }

      /* Blockquote right double quotes */
      .blockquote:after {
        position: absolute;
        content: '”';
        color: rgba(255, 255, 255, 1);
        font-size: 10rem;
        line-height: 0;
        bottom: -43px;
        right: 30px;
      }
    }

    .fancyLogoExpanded {
      width: 30%;
      height: auto;
      display: flex;
      align-items: center;

      .companyName {
        color: $pinkColor;
        height: 36px;
        width: fit-content;

        span {
          writing-mode: vertical-rl;
          text-orientation: upright;
        }

        .studio {
          letter-spacing: 3px;
          padding-left: 20px;
          vertical-align: super;
          writing-mode: initial;
          text-orientation: initial;
        }
      }

      .nameExpandedTop {
        width: fit-content;
        display: flex;
        align-items: flex-end;

        span {
          writing-mode: vertical-lr;
          text-orientation: upright;
        }
      }

      .nameExpandedBottom {
        width: fit-content;
        display: flex;

        span {
          display: inline;
          writing-mode: vertical-rl;
          text-orientation: upright;
        }
      }
    }
  }
}
