@import './breakpoints.scss';
@import 'include-media';

$grayBgColor: #ebebeb;
$blueBgColor: #006fca;
$menuColor: #f8fff8;
$textColor: #4c4948;
$mainColor: #79c05f;
$turquoiseBgColor: #f8fff8;

$btnBorderWidth: 5px;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
